/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;
$blockMargin: 22px;
$headingMargin: 0 0 40px 0;

$mainFontSize: 30px;
$mainFont: 'Nunito', sans-serif;
$headingFont: 'Nunito', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.7em;
$heading2Size: 1.8em;
$heading3Size: 1.3em;
$heading4Size: 1.1em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.dim {
  color: lightgray;
}

.pre-wrap {
  white-space: pre-wrap;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.accent {
  color: indianred;
}

.nowrap {
  white-space: nowrap;
}

section {
  text-align: left;
}

.reveal {
  pre, table, p {
    margin: 0 0 $blockMargin 0;
  }

  ul {
    margin-bottom: $blockMargin;
  }

  pre {
    box-shadow: none;
    font-size: 0.78em;
    width: 100%;

    code {
      max-height: none;
    }
  }
}
